body{
background: rgba(73,155,234,1);
background: -moz-radial-gradient(center, ellipse cover, rgba(73,155,234,1) 0%, rgba(73,155,234,1) 42%, rgba(32,124,229,1) 65%, rgba(32,124,229,1) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(73,155,234,1)), color-stop(42%, rgba(73,155,234,1)), color-stop(65%, rgba(32,124,229,1)), color-stop(100%, rgba(32,124,229,1)));
background: -webkit-radial-gradient(center, ellipse cover, rgba(73,155,234,1) 0%, rgba(73,155,234,1) 42%, rgba(32,124,229,1) 65%, rgba(32,124,229,1) 100%);
background: -o-radial-gradient(center, ellipse cover, rgba(73,155,234,1) 0%, rgba(73,155,234,1) 42%, rgba(32,124,229,1) 65%, rgba(32,124,229,1) 100%);
background: -ms-radial-gradient(center, ellipse cover, rgba(73,155,234,1) 0%, rgba(73,155,234,1) 42%, rgba(32,124,229,1) 65%, rgba(32,124,229,1) 100%);
background: radial-gradient(ellipse at center, rgba(73,155,234,1) 0%, rgba(73,155,234,1) 42%, rgba(32,124,229,1) 65%, rgba(32,124,229,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5', GradientType=1 );

    height: 600px;
}




.container{
   
    width: 600px;
    font-size: 2em;
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
    
    
    
}

.out{
   text-align: center;
    padding: 10px;
    border-radius: 55px 58px 58px 58px;
-moz-border-radius: 55px 58px 58px 58px;
-webkit-border-radius: 55px 58px 58px 58px;
border: 0px solid #000000;
}

.mybutton{
    padding: 10px 40px;
    margin-top: 5px;
}

.huh{
    background-color: orange;
    float: left;
    margin-left: 90px;
    margin-top: 10px;
    width: 200px;
    padding: 5px;
    
}

.in{
    float: left;
    margin-top: 12px;
    
    margin-left: 20px;
    
/*    padding: 3px;*/
    text-align: center;
    
    
}
